.title {
    padding-left: 14vw;
  }
  
  .username {
    padding-left: 55vw;
    padding-top: 2.5vw;
  }
  
  .logout {
    padding-right: 3vw;
    padding-top: 2.5vw;
  }
  
  .line {
    margin-left: 13vw;
  }
  