.grid {
  padding-left: 20vw;
  display: grid;
  grid-template-columns: 21vw 21vw 1fr;
  gap: 5px;
}

.table {
  margin-top: 10px;
  padding-left: 41vw;
}

table,
th,
td {
  border: 1px solid white;
}

.button {
  margin-top: 5vh;
  text-align: center;
}
